@mixin flexprob {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin purple-card {
  background: url("https://raw.githubusercontent.com/DecodewithHappy/Testimonials-grid-section-main/873e415e5165b0a5f1b3e9b52b144b93a3f83546/images/bg-pattern-quotation.svg")
    repeat $bgPurpleColor;
  background-position: calc(100% - 1rem) 1rem;
  background-repeat: no-repeat;
  color: $bgLightBackgroundColor;
}


