@mixin flexprob {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexprob1 {
  display: flex;
  align-items: center;
  //flex-direction: column;
  flex-wrap: nowrap;
}

@mixin gridcontrol {
  display: grid;
  grid-template-columns: 18.7rem 18.7rem 18.7rem 18.7rem;
  grid-template-areas:
    "grid-area-1 grid-area-1 grid-area-2 grid-area-5"
    "grid-area-3 grid-area-4 grid-area-4 grid-area-5";
  //grid-gap : 1rem;
}
