$backgroundColor: hsl(210, 46%, 95%);
$font : 'Barlow Semi Condensed', sans-serif;
$Color : hsl(219, 29%, 14%);
$bgLightBackgroundColor : hsl(0, 0%, 100%);
$bgDarkBackground : hsl(219, 29%, 14%);
$bgGrayBackground : hsl(217, 19%, 35%);
$bgPurpleColor : hsl(263, 55%, 52%);