@import "variable";
@import "mixin";
@import "mobile";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $backgroundColor;
  font-family: $font;
  color: $Color;
}

//styling the wrapper class
.wrapper {
  @include flexprob;
  height: 880px;

  //styling the main grid element
  .main-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-areas:
      "grid-area-1 grid-area-1 grid-area-2 grid-area-5"
      "grid-area-3 grid-area-4 grid-area-4 grid-area-5";
  }

  .item-1 {
    grid-area: grid-area-1;
  }

  .item-2 {
    grid-area: grid-area-2;
  }

  .item-3 {
    grid-area: grid-area-3;
  }

  .item-4 {
    grid-area: grid-area-4;
  }

  .item-5 {
    grid-area: grid-area-5;
  }

  .testimonial-grid-card {
    box-shadow: 0.5rem 0.75rem 0.75rem hsl(0, 0%, 70%);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
  }

  .card-head {
    @include flexprob;

    .profile-img {
      img {
        border: 1px solid $bgLightBackgroundColor;
        border-radius: 50%;
      }
    }

    .person-detail {
      margin-left: 1rem;

      .person-role {
        p {
          opacity: 0.5;
          font-size: 13px;
          line-height: 1.8;
        }
      }
    }
  }

  .bg-light {
    @include commonstyle($bgGrayBackground);
    background: $bgLightBackgroundColor;
  }

  .bg-dark {
    @include commonstyle($bgLightBackgroundColor);
    background: $bgDarkBackground;
    color: $bgLightBackgroundColor;
  }

  .bg-gray {
    @include commonstyle($bgLightBackgroundColor);
    background: $bgGrayBackground;
    color: $bgLightBackgroundColor;
  }

  .bg-purple {
    @include commonstyle($bgLightBackgroundColor);
    @include purple-card;
  }
}

//footer

footer {
  background: hsl(0, 0%, 100%);
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
