
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf2f8;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #19212e;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 880px;
}

.wrapper .main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px 300px;
      grid-template-columns: 300px 300px 300px 300px;
      grid-template-areas: "grid-area-1 grid-area-1 grid-area-2 grid-area-5"
 "grid-area-3 grid-area-4 grid-area-4 grid-area-5";
}

.wrapper .main-grid .testimonial-grid-card {
  -webkit-box-shadow: 0.5rem 0.75rem 0.75rem #b3b3b3;
          box-shadow: 0.5rem 0.75rem 0.75rem #b3b3b3;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem;
}

.wrapper .main-grid .item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: grid-area-1;
}

.wrapper .main-grid .item-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: grid-area-2;
}

.wrapper .main-grid .item-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: grid-area-3;
}

.wrapper .main-grid .item-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: grid-area-4;
}

.wrapper .main-grid .item-5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: grid-area-5;
}

.wrapper .main-grid .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main-grid .card-head .profile-img img {
  border: 1px solid white;
  border-radius: 50%;
}

.wrapper .main-grid .card-head .person-detail {
  margin-left: 1rem;
}

.wrapper .main-grid .card-head .person-detail .person-role .role-para {
  opacity: 1.5;
  font-size: 13px;
  line-height: 1.8;
}

.wrapper .main-grid .card-body .quote1 {
  padding-top: 1rem;
}

.wrapper .main-grid .card-body .quote1 .quote1-para {
  font-weight: 600px;
}

.wrapper .main-grid .card-body .quote2 {
  padding-top: 1rem;
}

.wrapper .main-grid .card-body .quote2 .quote2-para {
  opacity: 0.7;
  font-weight: 500px;
  font-size: 13px;
  line-height: 1.8;
}

.wrapper .main-grid .bg-light {
  color: #19212e;
  background: white;
}

.wrapper .main-grid .bg-dark {
  background: #19212e;
  color: white;
}

.wrapper .main-grid .bg-gray {
  background: #48556a;
  color: white;
}

.wrapper .main-grid .bg-purple {
  background: url("https://raw.githubusercontent.com/DecodewithHappy/Testimonials-grid-section-main/873e415e5165b0a5f1b3e9b52b144b93a3f83546/images/bg-pattern-quotation.svg") repeat #7541c8;
  background-position: calc(100% - 1rem) 1rem;
  background-repeat: no-repeat;
  color: white;
}

footer {
  background: white;
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    margin: 2rem 0 4rem;
    height: auto;
  }
  .wrapper .main-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "grid-area-1 grid-area-1"
 "grid-area-2 grid-area-5"
 "grid-area-3 grid-area-5"
 "grid-area-4 grid-area-4";
  }
}

@media only screen and (max-width: 600px) {
  .wrapper .main-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "grid-area-1"
 "grid-area-2"
 "grid-area-3"
 "grid-area-4"
 "grid-area-5";
  }
  .wrapper .main-grid .testimonial-grid-card {
    margin: 1 0 1rem;
  }
}
/*# sourceMappingURL=style.css.map */