@import "variable";
@import "mixin";
@import "mobile";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $backgroundColor;
  font-family: $font;
  color: $Color;
}

//styling the wrapper class
.wrapper {
  @include flexprob;
  justify-content: center;
  height: 880px;

  //styling the main grid element
  .main-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-areas:
      "grid-area-1 grid-area-1 grid-area-2 grid-area-5"
      "grid-area-3 grid-area-4 grid-area-4 grid-area-5";

    .testimonial-grid-card {
      box-shadow: 0.5rem 0.75rem 0.75rem hsl(0, 0%, 70%);
      border-radius: 1rem;
      padding: 1.5rem;
      margin: 1rem;
    }

    .item-1 {
      grid-area: grid-area-1;
    }

    .item-2 {
      grid-area: grid-area-2;
    }

    .item-3 {
      grid-area: grid-area-3;
    }

    .item-4 {
      grid-area: grid-area-4;
    }

    .item-5 {
      grid-area: grid-area-5;
    }

    .card-head {
      @include flexprob;

      .profile-img {
        img {
          border: 1px solid $bgLightBackgroundColor;
          border-radius: 50%;
        }
      }

      .person-detail {
        margin-left: 1rem;
      }
    }

    .quote-1 {
      padding-top: 1rem;
    }

    .quote-2 {
      padding-top: 1rem;
    }

    p.name-para {
      font-weight: bold;
    }

    p.person-role {
      opacity: 1.5;
      font-size: 13px;
      line-height: 1.8;
    }

    p.quote1-para {
      font-weight: 900;
      font-size: 22px;
    }

    p.quote2-para {
      opacity: 1.5;
      font-weight: 400;
      font-size: 1rem;
    }

    .bg-light {
      background: $bgLightBackgroundColor;
      p {
        color: $bgGrayBackground;
      }
    }

    .bg-dark {
      background: $bgDarkBackground;
      p {
        color: $bgLightBackgroundColor;
      }
    }

    .bg-gray {
      background: $bgGrayBackground;
      p {
        color: $bgLightBackgroundColor;
      }
    }

    .bg-purple {
      @include purple-card;
    }
  }
}

//footer

footer {
  background: hsl(0, 0%, 100%);
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  bottom: 0;
}

.attribution {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
